*{
    font-family:'Lato', sans-serif;
    font-weight:bolder;
}

body{
    background: rgb(120,57,0);
    background: -moz-linear-gradient(198deg, rgba(120,57,0,1) 15%, rgba(246,205,157,1) 50%, rgba(129,82,40,1) 87%);
    background: -webkit-linear-gradient(198deg, rgba(120,57,0,1) 15%, rgba(246,205,157,1) 50%, rgba(129,82,40,1) 87%);
    background: linear-gradient(198deg, rgba(120,57,0,1) 15%, rgba(246,205,157,1) 50%, rgba(129,82,40,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#783900",endColorstr="#815228",GradientType=1);
}